<ion-header>
  <ion-toolbar>
      <ion-icon slot="start" class="ion-padding-start" name="person-outline"></ion-icon>
      <ion-title>
        @if (mode == "edit") {
          Editar persona
        }
        @else {
          Nueva persona
        }
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
      <p *ngIf="name?.errors?.['required']">El nombre es obligatorio.</p>
      <p *ngIf="name?.errors?.['minlength']">El nombre debe tener al menos 2 caracteres.</p>
    </ion-text>

    <!-- Apellidos -->
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" formControlName="surnames"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="surnames?.invalid && (surnames?.dirty || surnames?.touched)">
      <p *ngIf="surnames?.errors?.['required']">Los apellidos son obligatorios.</p>
      <p *ngIf="surnames?.errors?.['minlength']">Los apellidos deben tener al menos 2 caracteres.</p>
    </ion-text>

    <!-- Edad -->
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="age?.invalid && (age?.dirty || age?.touched)">
      <p *ngIf="age?.errors?.['required']">La edad es obligatoria.</p>
      <p *ngIf="age?.errors?.['min']">La edad debe ser positiva.</p>
      <p *ngIf="age?.errors?.['max']">La edad debe ser inferior a 110.</p>
    </ion-text>

    <!-- Correo electrónico -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <p *ngIf="email?.errors?.['required']">El correo electrónico es obligatorio.</p>
      <p *ngIf="email?.errors?.['email']">El formato del correo electrónico es inválido</p>
    </ion-text>

    <!-- Género -->
    <ion-item>
      <ion-label position="floating">Género</ion-label>
      <ion-select formControlName="gender" placeholder="Selecciona su género">
        <ion-select-option *ngFor="let gender of genderList" [value]="gender">{{ gender }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)">
      <p *ngIf="gender?.errors?.['required']">El género es obligatorio.</p>
    </ion-text>

    <!-- Código del país -->
    <ion-item>
      <ion-label position="floating">Código del país</ion-label>
      <ion-input type="text" formControlName="country_code"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="country_code?.invalid && (country_code?.dirty || country_code?.touched)">
      <p *ngIf="country_code?.errors?.['required']">El código del país es obligatorio.</p>
    </ion-text>

    <!-- ID del grupo -->
    <ion-item>
      <ion-label position="floating">ID del grupo</ion-label>
      <ion-select formControlName="group_id" placeholder="Selecciona un ID de grupo">
        <ion-select-option *ngFor="let group of groupList" [value]="group.id">{{ group.id }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="group_id?.invalid && (group_id?.dirty || group_id?.touched)">
      <p *ngIf="group_id?.errors?.['required']">El ID de grupo es obligatorio.</p>
    </ion-text>

    <ion-button class="ion-margin-top" expand="full" type="submit" [disabled]="formGroup.invalid">
      @if (mode == "edit") {
        Editar persona
      }
      @else {
        Añadir persona
      }
    </ion-button>

  </form>
</ion-content>

