<ion-header>
  <ion-title>
    <h1>Añadir persona</h1>
  </ion-title>
</ion-header>
<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="name?.invalid && (name?.dirty || name?.touched)">
      <p *ngIf="name?.errors?.['required']">El nombre es obligatorio.</p>
      <p *ngIf="name?.errors?.['minlength']">El nombre debe tener al menos 2 caracteres.</p>
    </ion-text>

    <!-- Apellidos -->
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" formControlName="surnames"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="surnames?.invalid && (surnames?.dirty || surnames?.touched)">
      <p *ngIf="surnames?.errors?.['required']">Los apellidos son obligatorios.</p>
      <p *ngIf="surnames?.errors?.['minlength']">Los apellidos deben tener al menos 2 caracteres.</p>
    </ion-text>

    <!-- Edad -->
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" formControlName="age"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="age?.invalid && (age?.dirty || age?.touched)">
      <p *ngIf="age?.errors?.['required']">La edad es obligatoria.</p>
    </ion-text>

    <!-- Correo electrónico -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
      <p *ngIf="email?.errors?.['required']">El correo electrónico es obligatorio.</p>
      <p *ngIf="email?.errors?.['email']">El formato del correo electrónico es inválido</p>
    </ion-text>

    <!-- Género -->
    <ion-item>
      <ion-label position="floating">Género</ion-label>
      <ion-input type="text" formControlName="gender"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)">
      <p *ngIf="gender?.errors?.['required']">El género es obligatorio.</p>
    </ion-text>

    <!-- Código del país -->
    <ion-item>
      <ion-label position="floating">Código del país</ion-label>
      <ion-input type="text" formControlName="countryCode"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="countryCode?.invalid && (countryCode?.dirty || countryCode?.touched)">
      <p *ngIf="countryCode?.errors?.['required']">El código del país es obligatorio.</p>
    </ion-text>

    <!-- ID del grupo -->
    <ion-item>
      <ion-label position="floating">ID del grupo</ion-label>
      <ion-select formControlName="groupId" placeholder="Selecciona un ID de grupo">
        <ion-select-option *ngFor="let group of groupList" [value]="group.id">{{ group.id }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="groupId?.invalid && (groupId?.dirty || groupId?.touched)">
      <p *ngIf="groupId?.errors?.['required']">El ID de grupo es obligatorio.</p>
    </ion-text>

    <ion-button expand="full" type="submit" [disabled]="formGroup.invalid">Añadir persona</ion-button>

  </form>
</ion-content>


